<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="SessionEnder.PipelineProcessors.RegisterRoutePipelineProcessor,SessionEnder" patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" />
      </initialize>
      <httpRequestBegin>
        <processor
          patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.CustomHandlers, Sitecore.Kernel']"
          type="SessionEnder.PipelineProcessors.AbortSitecoreForKnownRoutes, SessionEnder"/>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
